    @font-face {
    font-family: 'Mosk Extra-Light 200';
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/Mosk\ Extra-Light\ 200.woff") format('woff')
    }
    

    @font-face {
    font-family: 'Mosk Thin 100';
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/Mosk\ Thin\ 100.woff") format('woff')
    }
    

    @font-face {
    font-family: 'Mosk Light 300';
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/Mosk\ Light\ 300.woff") format('woff')
    }
    

    @font-face {
    font-family: 'Mosk Medium 500';
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/Mosk\ Medium\ 500.woff") format('woff')
    }
    

    @font-face {
    font-family: 'Mosk Semi-Bold 600';
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/Mosk\ Semi-Bold\ 600.woff") format('woff')
    }
    

    @font-face {
    font-family: 'Mosk Bold 700';
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/Mosk\ Bold\ 700.woff") format('woff')
    }
    

    @font-face {
    font-family: 'Mosk Extra-Bold 800';
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/Mosk\ Extra-Bold\ 800.woff") format('woff')
    }
    

    @font-face {
    font-family: 'Mosk Ultra-Bold 900';
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/Mosk\ Ultra-Bold\ 900.woff") format('woff');
    }
    

    @font-face {
    font-family: 'Mosk Normal 400 Regular';
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/Mosk\ Normal\ 400.woff") format('woff');
    }

    @font-face {
        font-family: 'nunitoblack';
        src: url('../fonts/nunito-black-webfont.woff2') format('woff2'),
             url('../fonts/nunito-black-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    
    }
    
    
    
    
    @font-face {
        font-family: 'nunitoblack_italic';
        src: url('../fonts/nunito-blackitalic-webfont.woff2') format('woff2'),
             url('../fonts/nunito-blackitalic-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    
    }
    
    
    
    
    @font-face {
        font-family: 'nunitobold';
        src: url('../fonts/nunito-bold-webfont.woff2') format('woff2'),
             url('../fonts/nunito-bold-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    
    }
    
    
    
    
    @font-face {
        font-family: 'nunitobold_italic';
        src: url('../fonts/nunito-bolditalic-webfont.woff2') format('woff2'),
             url('../fonts/nunito-bolditalic-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    
    }
    
    
    
    
    @font-face {
        font-family: 'nunitoextrabold';
        src: url('../fonts/nunito-extrabold-webfont.woff2') format('woff2'),
             url('../fonts/nunito-extrabold-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    
    }
    
    
    
    
    @font-face {
        font-family: 'nunitoextrabold_italic';
        src: url('../fonts/nunito-extrabolditalic-webfont.woff2') format('woff2'),
             url('../fonts/nunito-extrabolditalic-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    
    }
    
    
    
    
    @font-face {
        font-family: 'nunitoextralight';
        src: url('../fonts/nunito-extralight-webfont.woff2') format('woff2'),
             url('../fonts/nunito-extralight-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    
    }
    
    
    
    
    @font-face {
        font-family: 'nunitoextralight_italic';
        src: url('../fonts/nunito-extralightitalic-webfont.woff2') format('woff2'),
             url('../fonts/nunito-extralightitalic-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    
    }
    
    
    
    
    @font-face {
        font-family: 'nunitoitalic';
        src: url('../fonts/nunito-italic-webfont.woff2') format('woff2'),
             url('../fonts/nunito-italic-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    
    }
    
    
    
    
    @font-face {
        font-family: 'nunitolight';
        src: url('../fonts/nunito-light-webfont.woff2') format('woff2'),
             url('../fonts/nunito-light-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    
    }
    
    
    
    
    @font-face {
        font-family: 'nunitolight_italic';
        src: url('../fonts/nunito-lightitalic-webfont.woff2') format('woff2'),
             url('../fonts/nunito-lightitalic-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    
    }
    
    
    
    
    @font-face {
        font-family: 'nunitoregular';
        src: url('../fonts/nunito-regular-webfont.woff2') format('woff2'),
             url('../fonts/nunito-regular-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    
    }


@font-face {
    font-family: 'nunitosemibold';
    src: url('../fonts/nunito-semibold-webfont.woff2') format('woff2'),
         url('../fonts/nunito-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'nunitosemibold_italic';
    src: url('../fonts/nunito-semibolditalic-webfont.woff2') format('woff2'),
         url('../fonts/nunito-semibolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}